---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 11 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		A Developer? DevOps? Adventurer? Free Soul? Lost Soul?
	</p>
	<p>
		Everything and nothing. 
	</p>
	<p>
		I don't know. What I know is that I found something.
	</p>
	<p>
		I know that you're looking for someone and I think He is so close.
	</p>
	<p>
		That's why you don't see him.
	</p>
	<p>
		Maybe I'll tell you about myself later because he is more important.
	</p>
</Layout>
