---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Adventurer</h1>
			<p>
				I think we are in hard times. Many are lost or hopeless from looking.
				But many are looking for the savior or they wonder why the world is like this today.
				So lost that they are wasting the most precious moments. I think I know a few things,
				and the more I write I began to realize more as I type. I'm trying to tune into words
				that are not said or are not heard. I think these earthquakes are not going to shake 
				humanity anymore. What i'm sure about, is that everyone needs to know about the True savior
				[Imam Mahdi](https://en.whoisimammahdi.com/).
				I'm gonna describe him in my own way so maybe I could understand more 
				And you can open a new perspective toward human, mind, body, soul and the universe.
				BRB ;)
			</p>
		</main>
		<Footer />
	</body>
</html>
